.button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    border: 0;
    background-color: var(--red);
    color: white;
    padding: .5rem;
    font-weight: 500;
    font-size: 1rem;
}
.button:hover {
    background-color: var(--yellow);
    cursor: pointer;
}