.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.label {
}

.input {
    flex-grow: 1; 
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid var(--black);
    letter-spacing: 0.075rem;
}

.input:focus {
    outline: none;
}