* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --eggcolor: rgb(250, 250, 238);
  --black: rgb(0, 0, 0);
  --blue: rgb(24, 32, 239);
  --darkred: rgb(132, 38, 38);
  --red: rgb(255, 79, 66);
  --yellow: rgb(255, 192, 35);
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
  --border-red: 2px solid var(--red);
  --white: white;
}

body {
  font-family: "Aldrich", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  background-color: var(--eggcolor);
}

html {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: var(--red) transparent; /* thumb color and track color */
}

html::-webkit-scrollbar {
  width: 20px;
}

.App {
  display: block;
  width: 100vw;
  height: 100%;
  /* background-color: rgb(66, 66, 141); */
  overflow: hidden;
  /* overflow-y: auto; */
  position: relative;
}

.header {
  border-bottom: 2px solid var(--red); 
}
.full-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@keyframes appear {
  from {
      opacity: 0;
      scale: .5;
  }
  to {
      opacity: 1;
      scale: 1;
  }
}

.wrap-motion {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .card {
    justify-content: initial;
  }
}

.card-detail {
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .card-detail {
    flex-direction: column;
  }
}

.vertical {
  flex-direction: column;
}
.horizontal {
  flex-direction: row;
}

.card-detail > .sub-card-detail {
  padding: .5rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  flex-basis: 30%;
  border-right: var(--border-red);
}

@media screen and (max-width: 1200px) {
  .left {
    border-right: 0;
    border-bottom: var(--border-red);
  }
}

.right {
  flex-basis: 70%;
}

.sub-header-with-date {
  display: flex;
  justify-content: space-between;
}


.grids-projects {
  padding: .5rem;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
  overflow-y: auto;
}

@media screen and (max-width: 1200px) {
  .grids-projects {
    flex-direction: column;   
  }
}

.lists li {
  list-style-position: inside;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkred);
}
/* custom scrollbar */


a {
  text-decoration: none;
  color: var(--darkred);
  text-underline-offset: 1rem;
}

a:hover {
  color: var(--red);
}